{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="container">
    <div class="row">
	  {% for destination in destinations %}
	    <div class="col-sm-12 col-md-6 col-lg-4"  >  
		    <div class="card" style="width: 18rem; height: 24.5rem">
		  		<img class="card-img-top" src="{{destination.pretty_picture.url}}" height="200px" width="200px" alt="tourism place image" />
		  		<div class="card-body">
		    		<h5 class="card-title">{{destination.name}}</h5>
		    		<p class="card-text ">{{destination.activities|truncatechars:100}}</p>
		    		<a href="{% url 'destination-detail' destination.id %}" class="btn btn-info float-right ">Read More
		    		</a>
		  		</div>
		    </div>
		    <br>
		</div>    
	  {% endfor %}
    </div>
</div>
{% endblock content %}
